.card {
  background-color: var(--seconday-color);
  width: 1200px;
}

input[type="text"],
input[type="email"] {
  height: 60px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
}

.btn-sub {
  /* width: 200px; */
  height: 58px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
}

.subs-text {
  width: 500px;
}
