<div class="card my-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="my-3">Comments (21)</h4>
    <div class="comment-box mt-3">
      <h6 mb-0>Jhon Doe</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
        incidunt aut quidem ab exercitationem, nostrum eos odio vero tenetur
        magni vel, eligendi aliquam consectetur harum nobis laborum libero
        blanditiis assumenda.
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 mb-0>Jhon Doe</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
        incidunt aut quidem ab exercitationem, nostrum eos odio vero tenetur
        magni vel, eligendi aliquam consectetur harum nobis laborum libero
        blanditiis assumenda.
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 mb-0>Jhon Doe</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
        incidunt aut quidem ab exercitationem, nostrum eos odio vero tenetur
        magni vel, eligendi aliquam consectetur harum nobis laborum libero
        blanditiis assumenda.
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr />
    </div>
  </div>
</div>
