<section>
  <div class="container my-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 bg-seconday-theme">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        officiis porro eos? Dicta fugit repellat esse cum! Voluptas, obcaecati.
        Fugit blanditiis optio quibusdam, accusantium qui quasi! Cum porro
        molestiae blanditiis? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptates officiis porro eos? Dicta fugit repellat esse cum!
        Voluptas, obcaecati. Fugit blanditiis optio quibusdam, accusantium qui
        quasi! Cum porro molestiae blanditiis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        officiis porro eos? Dicta fugit repellat esse cum! Voluptas, obcaecati.
        Fugit blanditiis optio quibusdam, accusantium qui quasi! Cum porro
        molestiae blanditiis? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptates officiis porro eos? Dicta fugit repellat esse cum!
        Voluptas, obcaecati. Fugit blanditiis optio quibusdam, accusantium qui
        quasi! Cum porro molestiae blanditiis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        officiis porro eos? Dicta fugit repellat esse cum! Voluptas, obcaecati.
        Fugit blanditiis optio quibusdam, accusantium qui quasi! Cum porro
        molestiae blanditiis?
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm my-4 btn-theme">Back to home</button>
      </div>
    </div>
  </div>
</section>
