<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="wallpaper"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-ligh text-danger text-center mx-2">Designs</small>
          <small class="bg-ligh text-success text-center mx-2">Featured</small>
          <small class="bg-ligh text-info text-center mx-2">views - 100</small>
          <small class="bg-ligh text-warning text-center mx-2"
            >LAST UPDATED - SEP 20, 2021
          </small>
          <h1 class="my-3">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
            non incidunt odit. Alias dolorum excepturi, autem saepe odit vitae
            nulla optio dolore labore quas quidem velit asperiores doloribus
            laborum aperiam! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Culpa dignissimos facere cupiditate atque, consequuntur autem,
            quasi voluptatibus ullam sed cumque vitae, laboriosam fugiat vero ex
            obcaecati neque sit molestiae? Sint. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Veniam totam corporis omnis harum
            fugit, perspiciatis officia quasi illo. Repellat unde natus
            explicabo impedit corporis, non est nulla iusto eius velit.Lorem
            ipsum dolor sit, amet consectetur adipisicing elit. Corporis non
            incidunt odit. Alias dolorum excepturi, autem saepe odit vitae nulla
            optio dolore labore quas quidem velit asperiores doloribus laborum
            aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Culpa dignissimos facere cupiditate atque, consequuntur autem, quasi
            voluptatibus ullam sed cumque vitae, laboriosam fugiat vero ex
            obcaecati neque sit molestiae? Sint. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Veniam totam corporis omnis harum
            fugit, perspiciatis officia quasi illo. Repellat unde natus
            explicabo impedit corporis, non est nulla iusto eius velit.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
