/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #026467;
  --seconday-color: #e5f5ea;
  --body-text-color: #596392;
  --navbar-footer-color: #f9f9f9;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--body-text-color);
}

.site-logo {
  padding: 5px 20px;
  border-radius: 18px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.shadow-effect {
  border: none;
  box-shadow: 0 0 33px -10px rgba(71, 114, 254, 0.3);
}

.bg-theme {
  background-color: var(--primary-color);
  border-radius: 18px;
}

input[type="text"],
input[type="email"] {
  height: 60px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
}

.btn-theme {
  height: 58px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  background-color: var(--primary-color) !important;
  color: white !important;
}

.bg-seconday-theme {
  background-color: var(--seconday-color);
  border-radius: 9px;
}

.text-theme-primary {
  color: var(--primary-color);
}
