<div class="card shadow-effect">
  <img
    style="max-height: 300px; object-fit: cover"
    class="card-img-top"
    src="https://images.pexels.com/photos/757889/pexels-photo-757889.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-img"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Danger</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">views - 100</small>
    <h5 class="mt-1 text-uppercase">
      How to start a blog in 2023 edited new category
    </h5>
    <p>
      Lorem ipsum is a placeholder text commonly used to demonstrate the visual
      form of a document or a typeface without relying on meaningful content.
    </p>
    <small class="bg-light text-warning text-center ml-3"
      >LAST UPDATED - SEP 1, 2023</small
    >
  </div>
</div>
